<div class="ui-g">
  <div class="ui-g nav">
    <button pButton [routerLink]="''" type="button" label="House" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/rooms'" type="button" label="Room" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/material'" type="button" label="Material" class="ui-button-raised "></button>
    <button pButton [routerLink]="'/supplier'" type="button" label="Supplier" class="ui-button-raised ui-button-secondary"></button>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-4">
        <div class="ui-g">
          <p-dropdown class="ui-g-12" [options]="houses" [(ngModel)]="selectedHouse" optionLabel="name" placeholder="Select" (click)="resetArrays()">
            <ng-template let-item pTemplate="selectedHouse">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-house pTemplate="item" >
              <div class="ui-helper-clearfix" style="position: relative; width: 100%;height: 100%" (click)="resetArrays()">
                <div style="font-size:14px;float:left;margin-top:4px" >{{house.label}}</div> </div>
            </ng-template>
          </p-dropdown>
          <button pButton label="Supplier By House" class="ui-g-12 ui-button-text my-5" (click)="changeOption('house')" [class.highlight]="selectedOption === 'house'"></button>
          <button pButton label="Supplier By Room" class="ui-g-12 ui-button-text my-5" (click)="changeOption('room')" [class.highlight]="selectedOption === 'room'"></button>
          <button pButton label="Supplier By Furniture" class="ui-g-12 ui-button-text my-5" (click)="changeOption('furniture')" [class.highlight]="selectedOption === 'furniture'"></button>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll" *ngIf="selectedOption === 'house'">
          <button pButton label="{{selectedHouse?.name}}" class="ui-button-white selected"></button>
        </div>
        <div class="container scrollbar" id="scroll" *ngIf="selectedOption === 'room'">
          <button pButton label="{{room?.name}}" *ngFor="let room of roomInHouse" (click)="selectRoom(room?._id)"  [class.selected]="room?._id === selectedRoom?._id"  class="ui-button-white" ></button>
        </div>
        <div class="container scrollbar" id="scroll" *ngIf="selectedOption === 'furniture'">
          <button pButton label="{{furniture?.name}}" *ngFor="let furniture of furnitureInRoom" (click)="selectFurniture(furniture?._id)" [class.selected]="furniture?._id === selectedFurniture?._id"  class="ui-button-white"></button>
        </div>
      </div>

      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll" *ngIf="selectedOption === 'house'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of selectedHouse?.materials" (dblclick)="removeFromHouse(supplier._id)"  class="ui-button-white"></button>
        </div>
        <div class="container scrollbar" id="scroll"  *ngIf="selectedOption === 'room'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of selectedRoom?.materials" (dblclick)="removeFromRoom(supplier._id)" class="ui-button-white"></button>
        </div>
        <div class="container scrollbar" id="scroll" *ngIf="selectedOption === 'furniture'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of selectedFurniture?.materials" (dblclick)="removeFromFurniture(supplier._id)" class="ui-button-white"></button>
        </div>
      </div>

      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll"  *ngIf="selectedOption === 'house'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of suppliers" class="ui-button-white" (click)="selectSupplier(supplier._id)" (dblclick)="moveToHouse(supplier._id)" [class.selected]="supplier._id === selectedSupplier._id"></button>
<!--          (dblclick)="moveToSupplierContact(contact._id)"-->
        </div>
        <div class="container scrollbar" id="scroll"  *ngIf="selectedOption === 'room'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of suppliers" class="ui-button-white" (click)="selectSupplier(supplier._id)" (dblclick)="moveToRoom(supplier._id)" [class.selected]="supplier._id === selectedSupplier._id"></button>
          <!--          (dblclick)="moveToSupplierContact(contact._id)"-->
        </div>
        <div class="container scrollbar" id="scroll"  *ngIf="selectedOption === 'furniture'">
          <button pButton label="{{supplier.name}}" *ngFor="let supplier of suppliers" class="ui-button-white" (click)="selectSupplier(supplier._id)" (dblclick)="moveToFurniture(supplier._id)" [class.selected]="supplier._id === selectedSupplier._id"></button>
          <!--          (dblclick)="moveToSupplierContact(contact._id)"-->
        </div>
      </div>
    </div>
  </div>
</div>
