<div class="ui-g">
  <div class="ui-g nav">
    <button pButton [routerLink]="''" type="button" label="House" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/rooms'" type="button" label="Room" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/material'" type="button" label="Material" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/supplier'" type="button" label="Supplier" class="ui-button-raised"></button>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{supplier?.name}}" *ngFor="let supplier of suppliers" class="ui-button-white" (click)="selectSupplier(supplier._id)" [class.selected]="supplier._id === selectedSupplier._id"></button>
<!--          (click)="selectHouse(house._id)" [class.selected]="house._id === selectedHouse._id"-->
        </div>
        <div class="add-item">
          <span class="ui-float-label input">
            <input id="Supplier-input" type="text" size="30" pInputText [(ngModel)]="newSupplier">
            <label for="Supplier-input">Supplier</label>
          </span>
          <button pButton label="Add Supplier" class="ui-button-text" (click)="addSupplier()" ></button>
          <button pButton label="Delete Supplier" class="ui-button-danger" (click)="deleteSupplier()"></button>
        </div>
      </div>

      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{contact?.name}}" *ngFor="let contact of selectedSupplier?.contacts" (dblclick)="moveToContact(contact)" class="ui-button-white"></button>
        </div>
      </div>

      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{contact?.name}}" *ngFor="let contact of contacts" class="ui-button-white" (click)="selectContact(contact._id)" (dblclick)="moveToSupplierContact(contact._id)" [class.selected]="contact._id === selectedContact._id"></button>
        </div>
        <div class="add-item">
          <span class="ui-float-label input">
            <input id="Contact-input" type="text" size="30" pInputText [(ngModel)]="newContact">
            <label for="Contact-input">Contact</label>
          </span>
          <button pButton label="Add Contact" class="ui-button-text" (click)="addContact()" ></button>
          <button pButton label="Delete Contact" class="ui-button-danger" (click)="deleteContact()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
