<div class="ui-g">
  <div class="ui-g nav">
    <button pButton [routerLink]="''" type="button" label="House" class="ui-button-raised "></button>
    <button pButton [routerLink]="'/rooms'" type="button" label="Room" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/material'" type="button" label="Material" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/supplier'" type="button" label="Supplier" class="ui-button-raised ui-button-secondary"></button>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{house?.name}}" *ngFor="let house of houses" class="ui-button-white" (click)="selectHouse(house._id)" [class.selected]="house._id === selectedHouse._id"></button>
        </div>
        <div class="add-item">
          <span class="ui-float-label input">
            <input id="house-input" type="text" size="30" pInputText [(ngModel)]="newHouse">
            <label for="house-input">House</label>
          </span>
          <button pButton label="Add House" class="ui-button-text" (click)="addNewHouse()" ></button>
          <button pButton label="Delete House" class="ui-button-danger" (click)="deleteHouse()"></button>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{room?.name}}" *ngFor="let room of selectedHouse?.rooms" (dblclick)="moveToRoom(room)" class="ui-button-white"></button>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{room?.name}}" *ngFor="let room of rooms" (click)="selectRoom(room._id)" (dblclick)="moveToHouseRooms(room._id)" class="ui-button-white" [class.selected]="room._id === selectedRoom._id"></button>
        </div>
        <div class="add-item">
          <span class="ui-float-label input">
            <input id="room-input" type="text" size="30" pInputText [(ngModel)]="newRoom">
            <label for="room-input">Room</label>
          </span>
          <button pButton label="Add Room" class="ui-button-text" (click)="addNewRoom()" ></button>
          <button pButton label="Delete Room" class="ui-button-danger" (click)="deleteRoom()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<p-toast position="top-right" key="tr"></p-toast>-->
