<div class="ui-g">
  <div class="ui-g-12 data-box" *ngFor="let house of houses">
    <div class="ui-g data-row">
      <h1 class="ui-g-2 data-text">{{house.name}}</h1>
      <div class="ui-g-1 data" *ngFor="let room of house.rooms">{{room.name}}</div>
    </div>
  </div>
</div>
