.data-box {
}
.data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  .data-text {
    text-align: center;
  }
  .data{
    display: flex;
    flex-direction: column;
    height: 100px;
    min-width: 100px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    margin: 0px 10px;
    background-color: #72bb72;
  }
}
