.ui-button-white {
  background-color: white !important;
  color: black !important;
  border: none !important;
  width: 100% !important;
}
.ui-button-white:focus {
  background-color: #007ad9 !important;
  color: white !important;
  box-shadow: none !important;
}
body{
  font-family: "Helvetica";
}
