<div class="ui-g">
  <div class="ui-g nav">
    <button pButton [routerLink]="''" type="button" label="House" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/rooms'" type="button" label="Room" class="ui-button-raised"></button>
    <button pButton [routerLink]="'/material'" type="button" label="Material" class="ui-button-raised ui-button-secondary"></button>
    <button pButton [routerLink]="'/supplier'" type="button" label="Supplier" class="ui-button-raised ui-button-secondary"></button>
  </div>
  <div class="ui-g-12">
    <p-dropdown [options]="houses" [(ngModel)]="selectedHouse" optionLabel="name" placeholder="Select A House" (click)="removeSelected()"></p-dropdown>
    <div class="ui-g">
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{room?.name}}" *ngFor="let room of selectedHouse?.rooms" class="ui-button-white" (click)="selectRoom(room._id)" [class.selected]="room._id === selectedRoom._id"></button>
<!--           "-->
        </div>
      </div>
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{furniture?.name}}" *ngFor="let furniture of selectedRoom?.furnitures" (dblclick)="moveToFurniture(furniture.id)" class="ui-button-white"></button>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="container scrollbar" id="scroll">
          <button pButton label="{{furniture?.name}}" *ngFor="let furniture of furnitures" (click)="selectFurniture(furniture._id)" (dblclick)="moveToRoomFurniture(furniture)" class="ui-button-white" [class.selected]="furniture._id === selectedFurniture._id"></button>
        </div>
        <div class="add-item">
          <span class="ui-float-label input">
            <input id="furniture-input" type="text" size="30" pInputText [(ngModel)]="newFurniture">
            <label for="furniture-input">Furniture</label>
          </span>
          <button pButton label="Add Furniture" class="ui-button-text" (click)="addFurniture()" ></button>
          <button pButton label="Delete Furniture" class="ui-button-danger" (click)="deleteFurniture()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
