.nav{
  margin: 20px 100px;
  button{
    margin: 0px 5px;
  }
}
.container{
  border: 1px solid #5a5757;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 500px;
  max-height: 500px;
  button{
    border-radius: 0px !important;
    text-align: left;
  }
  #scroll::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  #scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  #scroll::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
  }
}
.add-item {
  margin-top: 20px;
  button {
    margin-top: 10px;
    width: 100% ;
  }
}
.input{
  input{
    width: 100% !important;
  }

}
.selected {
  background-color: #007ad9 !important;
  color: white !important;
  box-shadow: none !important;
}
